@model Movie_Shop_.Models.Customer

<div class="form-group mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="EmailAddress" class="form-label"></label>
    <input asp-for="EmailAddress" class="form-control" />
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="PhoneNo" class="form-label"></label>
    <input asp-for="PhoneNo" class="form-control" />
    <span asp-validation-for="PhoneNo" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="BillingAddress" class="form-label"></label>
    <input asp-for="BillingAddress" class="form-control" />
    <span asp-validation-for="BillingAddress" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="BillingCity" class="form-label"></label>
    <input asp-for="BillingCity" class="form-control" />
    <span asp-validation-for="BillingCity" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="BillingZip" class="form-label"></label>
    <input asp-for="BillingZip" class="form-control" />
    <span asp-validation-for="BillingZip" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="DeliveryAddress" class="form-label"></label>
    <input asp-for="DeliveryAddress" class="form-control" />
    <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="DeliverCity" class="form-label"></label>
    <input asp-for="DeliverCity" class="form-control" />
    <span asp-validation-for="DeliverCity" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="DeliverZip" class="form-label"></label>
    <input asp-for="DeliverZip" class="form-control" />
    <span asp-validation-for="DeliverZip" class="text-danger"></span>
</div>